|
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
|
script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
//
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./assets/vendor/socket.io-client/dist/socket.io.min.js">
script(src='./assets/js/login.js')
|
script(src='./assets/js/chat.js')
script(src='./assets/js/game.js')
|
script(src='./assets/js/app.js')