.game
  // Zone de jeu
  .row
    #jeu.text-center
      #jeu_informations
      |
      #jeu_zone.col-sm-4.col-xs-4.col-sm-offset-4.col-xs-offset-4
        #me.player_name

        .col-md-4.col-xs-4#player1
          p#ciseaux.sprite.sprite-ciseaux
        |
        .col-md-4.col-xs-4
          p#feuille.sprite.sprite-feuille
        |
        .col-md-4.col-xs-4
          p#pierre.sprite.sprite-pierre
      #jeu_zone_adv.col-sm-4.col-xs-4.col-sm-offset-4.col-xs-offset-4
        #adv.player_name
        #adv_answer

        .col-md-4.col-xs-4#player2
          p#ciseaux.sprite.sprite-ciseaux
        |
        .col-md-4.col-xs-4
          p#feuille.sprite.sprite-feuille
        |
        .col-md-4.col-xs-4
          p#pierre.sprite.sprite-pierre
  // Fin de Zone de jeu
  // Chat
  .row
    #chatBoxZone.col-sm-4.col-xs-4
      h2 Salon de discussion
      |
      #chatWrapper
        #chatBoxWindow
        |
        form#messageForm
          input#message(type='text', name='inputChatZone', placeholder='Taper du texte ici')
          |
          input#send.btn.btn-primary.btn-block.btn-large(type='submit', value='Envoyer')
      |
      #userWrapper
        #users
  // Fin Chat

