meta(charset='utf-8')
|
meta(http-equiv='X-UA-Compatible', content='IE=edge')
|
title Multi-player Chifoumi
|
// link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(href='./assets/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
|
link(rel='stylesheet', href='assets/styles/style.css')